*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body{
    min-width: 100vw;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(247 247 247);
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b84ea;
    color: white;
    padding: 20px;
}
#nav h2{
    font-size: 1.7rem;
}
#nav a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.2rem;
}
#nav a:hover{
    transition: 0.3s;
    color: black;

}
#sign{
    display: flex;
    gap: 1rem;
}
.container{
    margin: 4rem;
    display: flex;
    justify-content: center;
    min-height: 80vh;
}
#main{
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    min-width: 25vw;
}
#main > h4{
    text-transform: uppercase;
    font-size: 1rem;
}
#balance{
    font-size: 2rem;
    margin-bottom: 1.2rem;
}
#transaction-btn{
    background-color: #2b84ea;
    color: white;
    padding: 10px;
}
.vertical{
    border: solid 1px rgb(187 187 187);
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
    height: 100%;
}
.income-exp{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: #fff;
    padding: 20px;
    min-width: 20vw;
    width: auto;
    margin-bottom: 1.3rem;
    font-size: 1.1rem;
}
#money-plus{
    color: rgb(134 223 168);
    margin: 10px 0;
}
#money-childList{
    color: rgb(205 94 78);
    margin: 10px 0;
}
#add-transaction{
    margin-top: 15px;
}
#list{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#list li{
    list-style-type: none;
}

.black{
    border: solid 1px rgb(187 187 187);
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    width: 100%;
    margin: 10px 0 10px 0;
}

.form-control{
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}
/* .choice{
    display: block;
    width: 100%;
} */
#form{
    width: 100%;
}
.form-control > input{
    padding: 8px;
    font-size: 1rem;
    margin-top: 0.5em;
}
#transaction-btn{
    border: 0px;
    border-radius: 2px;
    width: 100%;
    margin-top: 1em;
}

#second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#box{
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn1{
    background-color: #2b84ea;
    color: white;
    font-weight: 500;
    border-radius: 4px;
    padding: 12px;
    border: 0;
    transition: 200;
}
#btn1:hover{
    background-color: #0b72e7;
    cursor: pointer;
}
#btn2{
    background-color: rgb(247 247 247);
    border: 0;
    color: #2b84ea;
}
#btn2:hover{
    cursor: pointer;
}
#secondImage{
    max-height: 490px;
    max-width: 590px;
}
#secondContent{
    border: solid 2px black;
    max-width: 75vw;
    height: 100%;
}
#secondHead{
    margin: 4vh 0 4vh 0;
    display: block;
    position: relative;
}
#btext{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4em;
    padding: 40px;
}
#list{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
#btns{
    display: flex;
    gap: 20px;
}
#third{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    /* max-width: 70vw; */
}

#grid{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 5fr);
    padding: 80px;
    gap: 20px;
}

.knowlink{
    color:#2b84ea; 
    text-decoration: none;
    margin-top: 1.8em;
}
.knowlink:hover{
    color: black;
}
.gridbox{
    border: solid 0.2px rgb(122, 122, 122);
    border-radius: 4px;
    min-width: 18vw;
    min-height: 15vh;
    height: auto;
    padding: 35px;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0 auto 0 auto;
    margin-top: 1rem;
    overflow: auto;
    position: relative;
}

.gridbox h3{
    position: absolute;
    top: 1.2em;
    left: 1em;
}
.gridbox p{
    position: absolute;   
    top: 3.9em;
    left: 1.1em;
}
.gridbox a{
    position: absolute;   
    bottom: 1em;
    left: 1.1em;
    transition: 0.3s;
}

.gridbox:hover{
    transition: 0.3s;
    box-shadow: rgba(163, 163, 163, 0.4) 0px 10px 40px;
    cursor: pointer;
}

/* green - #5ecd72 */
/* red - #c1392b */
.childList{
    width: 100%;
    padding: 10px;
    position: relative;
    background-color: white;
}
.childList, .plus {
}
.childList{
    /* background-color: #c1392b; */
    height: 100%;
}
.plus{
    height: 100%;
    /* background-color: #5ecd72; */
}
.delete-btn{
    position: absolute;
    left: -0.86rem;
    color: white;
    padding: 3px;
    background-color: #e74c3c;
    border: 0;
    font-size: 1rem;
    visibility: hidden;
    /* transition: 0.5s; */
    cursor: pointer;
    bottom: 7px;
}
.childList:hover .delete-btn{
    /* transition: 1s; */
    visibility: visible;
}
.money{
    position: absolute;
    right: 15px;
}
.plus-color, .minus-color{
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0.2px;
    overflow: hidden;
}
.plus-color{
    border-left: rgb(134 223 168) solid 5px;
}
.minus-color{
    border-left: rgb(205 94 78) solid 5px;

}